<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dfcj.videoim">


    <!-- 允许应用获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取设备号-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <!--读写内存-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--WebView-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--WebView-->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />  <!-- 允许应用挂载/卸载外部文件系统。 -->
    <!--安卓9.0以及9.0以上会出现这个BUG,需要添加权限:-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.VIBRATE" />  <!-- 允许应用震动 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!-- Android Q后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 允许应用在手机屏幕关闭后后台进程仍然运行  -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!--  允许应用读取系统设置项 -->

    <uses-permission android:name="android.permission.GET_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->

    <!-- 屏幕熄灭 -->
<!--    <user-permission android:name="android.permission.DEVICE_POWER" />-->
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <!-- Android10新增权限MANAGE_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />-->


    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /><!-- 屏蔽HOME键需要的权限 -->

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <!--适配Android R包可见性 开始-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" >

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" >

            </action>
        </intent>
    </queries>
    <!--适配Android R包可见性 结束-->


    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        tools:replace="android:allowBackup"
        >

        <!-- 屏幕有适配  dp单位  360相当于720  640相当于1280 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

<!--   android:excludeFromRecents="true"    android:configChanges="keyboardHidden|orientation|screenSize"     android:theme="@style/AppTheme.Splash2"  -->
        <activity
            android:name="com.dfcj.videoim.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                &lt;!&ndash;<action android:name="android.intent.action.VIEW" />&ndash;&gt;
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

       <activity android:name="com.dfcj.videoim.ui.video.VideoCallingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
           android:launchMode="singleInstance"
            />

       <activity android:name="com.dfcj.videoim.ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
       <activity android:name="com.dfcj.videoim.ui.PhoneViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />


        <service android:name="com.dfcj.videoim.service.FloatVideoWindowService"
            ></service>



        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <meta-data android:name="android.max_aspect"  android:value="2.4"/>
        <!-- 增加这个属性之后，系统就不会对应用进行下移处理，从而保证原生体验。 -->
       <meta-data android:name="android.notch_support" android:value="true"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"
            tools:ignore="WrongManifestParent" />

        <!--7.0设置-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>




    </application>



</manifest>
